body
{
	margin: 0;
	padding: 0;
	color: #555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    /*background: #eee;*/
	/*background-image: url("bg.png");*/
}

#page
{
	margin-top: 0;
	margin-bottom: 0;
	background: white;
}

#header
{
	margin: 0;
	padding: 0;
    color: white;
}



#sidebar
{
	padding: 20px 20px 20px 0;
}

footer
{
    background: #1AB3BD;
    text-align: center;
    padding: 25px 0 15px;
}

.foot{
    width:80%;
    min-width:1024px;
    margin: 0 auto;
    padding: 15px 15px 10px;
}

.foot ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo
{
	font-size: 200%;
    margin-left: 15px;
}
.head_background{
    background: #0D7BFF;
}
#mainmenu
{


}

#mainmenu ul
{
	padding:15px 15px 0 15px;
	margin:0;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:15px;
	text-decoration:none;
	padding:15px 15px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	color: #6399cd;
	background-color:#ffffff;
	text-decoration:none;
}

#mainmenu ul li ul{
    display: none;
    color: red;
}

#mainmenu ul li ul li a{

    color: red;
}



#mainmenu ul li:hover ul{
    position: absolute;

    display: block;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* Карта */

.map{
    height: 500px;
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
}


#addtomap{
    height: 500px;
    width: 75%;
    border-radius: 15px;
    float: left;
    position: relative;
}

#addtomapform{
    width: 25%;
    float: left;
    height: 500px;
    position: relative;
    background: #0070a3;
}

.added_photo{
    background: #ff8015;
}


/***********слайдер на главной**************/


.homeslider{
    width: 100%;
    min-width: 1024px;
    height: 550px;
    background: url("slide3.jpg");
}

.homeslider .homeimage{
    background: url("pat.png");
    background-position:0 50% ;
    position: relative;
    height: 100%;
}

.homeslider h1{
    color: white;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: 300;
}

h1.center_head{
    text-align: center;
    display: table;
}

h1.center_head:after, h1.center_head:before{
    display: table-cell;
    content: "";
    background: #ccc;
    width: 50%;
}